.UserProfileContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 8%;
}
.story-container-new {
  padding-left: 8%;
}
@media screen and (max-width: 768px) {
  .user-profile-sub-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .UserProfileContainer {
    width: 84%;
    margin: auto;
    padding-left: 0;
    margin-top: 40px;
  }
  .story-container-new,
  .horizontalLine {
    width: 80%;
  }
}
.user-profile-details {
  display: flex;
  align-items: center;
}
.ZZ {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .ZZ {
    flex-direction: row;
  }
}
.span-para {
  display: flex;
}

.userProfileImageSmall {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 24px;
}
.userProfileImageBig {
  display: none;
}
@media screen and (min-width: 768px) {
  .userProfileImageSmall {
    display: none;
  }
  .UserProfileContainer {
    flex-direction: row;
  }
  .userProfileImageBig {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 40px;
  }
}

.userProfileUserName {
  font-size: 26px;
  font-weight: 600;
}

.userProfileCommonPara {
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}
span {
  font-weight: 500;
  margin-right: 6px;
  margin-bottom: 0;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .userProfileCommonPara {
    font-size: 17px;
  }
  span {
    font-size: 17px;
    line-height: 26px;
  }
}

.userProfileUser-id {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}

.user-bio {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .user-bio {
    padding-right: 8%;
  }
}

.UserStoryImagesContainer {
  align-self: flex-start;

  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}
.post-item-new {
  width: 84%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .post-item-new {
    width: 100%;
  }
}

.userProfilePostContainer {
  padding-left: 0;
  display: flex;

  list-style: none;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .userProfilePostContainer {
    width: 100%;
  }
  .UserStoryImagesContainer {
    margin-top: 50px;
  }
}
.horizontalLine {
  border: 0.6px solid #c6c6c8;
  width: 100%;
}
.iconsPost {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding-left: 8%;
  margin-bottom: 0;
}
.userPosts {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.loader-container-userProfile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noPostView {
  height: 100vh;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.noPostPara {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.biCameraIcon {
  width: 60px;
  height: 58px;
  border: 2px solid #262626;
  border-radius: 50%;
  padding: 10px;
  color: #262626;
}
