.search-result-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .search-result-container {
    width: 100%;
    padding-top: 0;
  }
}
.search-item-list-container {
  padding-left: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0px;
  width: 100%;
}
@media screen and (min-with: 768px) {
  .search-item-list-container {
    padding: 24px;
    box-shadow: 0px 4px 16px 0px #7b879429;
    width: 80%;
    padding-left: 0;
    list-style: none;
    background-color: #ffffff;
  }
}

.search-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 110vh;
}
@media screen and (max-width: 768px) {
  .search-not-found-container {
    height: 100vh;
  }
}
.not-found-image {
  width: 100%;
}
.not-found-heading {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
}
@media screen and (max-width: 768px) {
  .not-found-heading {
    font-size: 18px;
    line-height: 24px;
  }
}
.not-found-para {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #989898;
}
@media screen and (max-width: 768px) {
  .not-found-para {
    font-size: 16px;
  }
}
.loader-container-search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search-result-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}
@media screen and (max-width: 768px) {
  .search-result-heading {
    display: none;
  }
}
